:root {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

button {
    font-size: inherit;
    font-family: inherit;
}

.content {
    padding: 1rem;
}

.project-view {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-card {
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
    height: 100%;
    max-width: 10rem;
    max-height: 12rem;
    background-color: white;
}

.project-card:hover {
    background-color: rgb(240, 240, 240);
}

.project-card:active {
    background-color: white;
}

.project-description {
    overflow-wrap: break-word;
}

dialog {
    border: 1px solid gray;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: block;
}

.submit-button {
    align-self: center;
}

.cancel-button {
    align-self: flex-end;
}